.login-logo-container {
	text-align: center;
	margin: 40px 0 10px;
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width: @screen-sm-max) and (orientation:landscape) {
	.login-logo-container {
		display: none;
	}

	#login-form {
		.vertical-align;
		height: 100vh;
	}
}



