@import "mixins";
@import "variables";
@import "functions";
@import "admin/admin";
@import "admin/admin-navbar";
@import "admin/login";
@import "admin/carousel";
@import "inputs";

* {
  box-sizing: border-box;
}

.full-width {
	width: 100%;
}

.no-float {
	float: none;
}

button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover {
	outline:none !important;
}

