header
	nav#header-nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand
				button#navbar-menu-button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar

			.collapse.navbar-collapse#collapsable-nav
				ul.nav.navbar-nav
					li
						a.text-center(href="#") Карусель
					li
						a.text-center(href="#") Афиши
					li
						a.text-center(href="#") Галерея
					li
						a.text-center(href="#") Контакты

#main-content
	.container
		.row
			.col-xs-12.col-sm-6.col-lg-3
				.menu-block
					span.glyphicon.glyphicon-picture(aria-hidden="true")
					.menu-block-name Карусель
			.col-xs-12.col-sm-6.col-lg-3
				.menu-block
					span.glyphicon.glyphicon-calendar(aria-hidden="true")
					.menu-block-name Афиши
			.col-xs-12.col-sm-6.col-lg-3
				.menu-block
					span.glyphicon.glyphicon-camera(aria-hidden="true")
					.menu-block-name Галерея
			.col-xs-12.col-sm-6.col-lg-3
				.menu-block
					span.glyphicon.glyphicon-phone-alt(aria-hidden="true")
					.menu-block-name Контакты