.container#admin-main
		.row
			.col-xs-12.col-sm-6.col-lg-3
				a(ui-sref="admin.carousel")
					.menu-block
						span.glyphicon.glyphicon-picture(aria-hidden="true")
						.menu-block-name Карусель
			.col-xs-12.col-sm-6.col-lg-3
				a(ui-sref="admin.upcoming")
					.menu-block
						span.glyphicon.glyphicon-calendar(aria-hidden="true")
						.menu-block-name Афиши
			.col-xs-12.col-sm-6.col-lg-3
				a(ui-sref="admin.gallery")
					.menu-block
						span.glyphicon.glyphicon-camera(aria-hidden="true")
						.menu-block-name Галерея
			.col-xs-12.col-sm-6.col-lg-3
				a(ui-sref="admin.contacts")
					.menu-block
						span.glyphicon.glyphicon-phone-alt(aria-hidden="true")
						.menu-block-name Контакты